/* Estilos para columnas ordenables */
.sortable {
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s;
}

.sortable:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sortable-active {
  font-weight: 600;
  color: #0d6efd;
}

.sortable i {
  font-size: 0.8em;
  margin-left: 0.25rem;
  opacity: 0.6;
}

.sortable-active i {
  opacity: 1;
}
